[Unit]
Description=Wait for SMB Mount and Start Frigate LXC
After=network-online.target local-fs.target remote-fs.target

[Service]
Type=simple
User=root
ExecStart=/home/jonah/scripts/frigate-lxc-wait/frigate-lxc-wait.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
